<div  class="container">=
<div id="header">Header</div>
<div id="main-wrap">
    <div id="sidebar">
	<div id="nav">
	<ul>
	<div style="background-image:url(./assets/logo_background_big.svg);width:300px;height:200px;color:black;font-size:18px;padding:5px;">
<li><a href="#/dashBoard"><img src="./assets/deployment_yellow.svg"  height="20px" width="20px" /  >
NAME &nbsp; 
<img src="./assets/arrow_blue.svg"  height="10px" width="10px" /  >
</a></li>
<li><a href="#"><img src="./assets/users_yellow.svg"  height="20px" width="20px" /  >
ADDRESS &nbsp;
<img src="./assets/arrow_blue.svg"  height="10px" width="10px" /  ></a></li>
PHONE 
</ul>
	</div>
	</div>
     <div id="content-wrap">
	 <div style="background-image:url(./assets/logo_background_big.svg);width:300px;height:200px;color:black;font-size:18px;padding:150px;">
	<table  width ="400">
			<th	style="color:white" bgcolor="#6495ED" align="center" >ADD ADDRESS </th>
		<tr>
			<table border="0" bgcolor="white" width ="400" height ="210">    
				<tr>
				   <td style="color:#6495ED" bgcolor="white" align="left" >&nbsp;&nbsp;NAME:</td>
				   <td><input type="text" name="name" ng-model="name"/></td>
				</tr>
				 <tr>
				   <td style="color:#6495ED" bgcolor="white" align="left">&nbsp;&nbsp;ADDRESS:</td>
				   <td><input type="text" name="address" ng-model="address"/></td>
				   </td>
				</tr>
				<tr>
				   <td style="color:#6495ED" bgcolor="white" align="left">&nbsp;&nbsp;PHONE</td>
				   <td><input type="text" name="phone" ng-model="phone"/></td>
				</tr>		
				<tr>
				  <td align="center"></td>
				  <td align ="left"  ><input type="button" class="button"   ng-click="addAddresses()" bgcolor="#00000" value="Submit" ></input></td> 
				</tr>
			</table>
		</tr>
	</table>
	</div>
	<!--<div id="footer">Footer</div>-->
</div>
