
<div class="container"> 
<h1><strong>Welcome to Address book</strong> Please login.</h1>
<!--<div class="background" style="background-image: url(./assets/logo_background_big.svg);"> -->
<div style="background-image:url(./assets/logo_background_big.svg);width:300px;height:200px;color:black;font-size:18px;border:1px solid #ccc;padding:5px;">


	<form action="javascript:void(0);" method="get">
		
			<p><input name = "userid" type="text" required ng-model="username" ></p>
			<p><input name = "passwd" type="password" required ng-model="password" ></p>
			<!--<a href="#/dashBoard" ng-click="login()"> Login</a>-->
			<input type="button" ng-click="login()" value ="Login" ></input>
		
	</form>
	
<!--<div id="header">Header</div>-->
	
</div> 
	</div>

</head>
